<form id="PaymentForm" class="form form--details cf" th:action="@{details}" th:object="${bookingData}" method="POST" th:fragment="form-details" th:with="paymentStepFieldsList=${T(com.kmp.aeroparker.application.model.enums.PaymentStepFields)}">
	<input type="hidden" name="currency" id="currency" th:value="${currency}">
	<input type="hidden" name="languageCode" id="languageCode" th:value="${languageCode}">
	<input type="hidden" name="affiliateName" id="affiliateName" th:value="${affiliateName}">
	<input type="hidden" name="amount" id="amount" th:value="${amount}">
	<input type="hidden" name="paymentGatewayType" id="paymentGatewayType" th:value="${paymentGatewayType}">
	<input type="hidden" name="customerGuid" id="customerGuid" th:value="${customerGuid}">
	<input type="hidden" name="startDate" id="startDate" th:value="${startDate}">
	<input type="hidden" name="affiliateId" id="affiliateId" th:value="${affiliateId}">
	<input type="hidden" name="subscriptionProductId" id="subscriptionProductId" th:value="${subscriptionProductId}">

	<div th:replace="fragments/personal-details :: personal-details"></div>
	<div th:replace="fragments/vehicle-details :: vehicle-details"></div>
	<div th:replace="fragments/additional-details :: additional-details"></div>
	<div th:replace="fragments/promo-code :: promo-code"></div>
	<div th:replace="fragments/payments/payment-form :: payment-form"></div>
	<div th:replace="fragments/terms-and-condition-details :: terms-and-condition-details"></div>
	
	<button type="submit" class="btn btn-primary btn--submit form__submit" id="PaymentFormSubmit" style="min-width: 160px; margin-bottom: 20px" th:inline="text"> 
		[[${languageFieldsList.getTranslation('Book and Pay')}]]
		<i class="icon icon--btn-forward"></i>
	</button>
</form>