<section th:fragment="resend-confirmation-modal" class="modal modal--booking" id="resend-confirmation" tabindex="-1" role="dialog" aria-labelledby="modal-label"
 aria-hidden="true" data-stackable="false">
	<div class="modal-inner">
		<div class="modal-content">
			<div class="modal-content__header">
				<h2 th:text="${languageFieldsList.getTranslation('Confirmation resent')}"></h2>
			</div>
			<div class="modal-content__content">
				<div class="row row-eq-height">
					<div class="col-xs-12 col-sm-8">
						<p th:utext="${languageFieldsList.getTranslation('Your booking confirmation has been resent to')}
							+ ' <a href=\'mailto:' + ${bookingDataList.get(0).customerEmail} + '\'>' + ${bookingDataList.get(0).customerEmail} + '</a>. ' 
							+ ${languageFieldsList.getTranslation('Please check your junk folder if you do not receive it within a few minutes')} + '.'">
						</p>
					</div>
					<div class="col-xs-12 col-sm-4">
						<a href="#!" class="btn btn--keyline" title="Close this modal" data-dismiss="modal" data-close="Close" th:text="${languageFieldsList.getTranslation('Close')}"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<a href="#!" class="modal-close" title="Close this modal" data-dismiss="modal" data-close="Close">&times;</a>
</section>