<style th:fragment="wirecard-style">
/**
* Because we don't know the height of the frame until after render, we can just allocate enough whitespace'
**/
.wirecard-seamless-frame {
  height: 340px;
}
@media screen and (max-width: 990px) {
	.wirecard-seamless-frame {
	     height: 470px;
	}
}
@media screen and (max-width: 768px) {
	#creditcardDataIframe {
	     max-width: 500px;	
	}
}
@media screen and (max-width: 427px) {
	#creditcardDataIframe {
	     height: 460px;
	}
	.wirecard-seamless-frame {
		height: 470px;
	}
}
@media screen and (max-width: 371px) {
	.wirecard-seamless-frame {
		height: 470px;
	}
	#creditcardDataIframe {
	     height: 480px;
	}
}
</style>